<div class="row" ng-controller="clientConfigController">
    <div class="col-xs-12">
        <h3 class="text-center">General Configuration</h3>
    </div>
    
    <div class="tabbable-panel">
        <div class="tabbable-line">
            <ul id="tabs" class="nav nav-tabs">
                <li ng-class="{ active: isSet(1) }">
                    <a ng-click="setTab(1)">
                        Valve
                    </a>
                </li>
                <li ng-class="{ active: isSet(2) }">
                    <a ng-click="setTab(2)">
                        SMS
                    </a>
                </li>
            </ul>
            
            <div id="my-tab-content" class="tab-content">
                
                <div id="newScheduler" class="tab-pane fade in active">
                  <div ng-include src="'valve_config.html'"></div>
                </div>
                <div id="searchScheduler" class="tab-pane fade in">
                    <div ng-include src="'sms_config.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>