<div class="container" ng-controller="clientConfigController">
  <div class="col-xs-12">
      <h3 class="text-center margin-bottom-25px">Valve Configuration</h3>
  </div>
  <form class="clientconfigform" ng-submit="saveConfig()">
    <div ng-repeat="eachNode in serverData.nodes.ids.split(' ')" ng-init="active=true">
      <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-md-7 col-sm-7 cursor">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="toggleNodes(active, eachNode); active = !active">
                    <h3 class="panel-title">
                        {{serverData[eachNode].name.toUpperCase() || eachNode.toUpperCase()}}
                        <span ng-if="serverData[eachNode].enabled == 'true'" class="label label-pill label-success">
                          Enabled
                        </span>
                        <span class="label label-pill label-danger" ng-if="serverData[eachNode].enabled == 'false'">
                          Disabled
                        </span>
                    </h3>
                    <a class="pull-right">
                      <span id="node-config-{{eachNode}}" class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div ng-hide="active" class="collapse in panel-body">
                    <div class="form-group" 
                         ng-class="{'has-error': (clientconfigform.{{eachNode}}.$touched && clientconfigform.{{eachNode}}.$error.required)}">
                      <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input type="text" name="{{eachNode}}" ng-model="serverData[eachNode].name" class="form-control" placeholder="Name of the Valve" required>

                        <div ng-show="clientconfigform.$submitted || clientconfigform.{{eachNode}}.$touched">
                            <span class="text-danger" 
                                  ng-show="clientconfigform.{{eachNode}}.$error.required">
                                Please enter the First name
                            </span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">Duration</span>
                        <input type="text" ng-model="serverData[eachNode].close_after" class="form-control" placeholder="In mins">
                        <span class="input-group-addon cursor" ng-class="serverData[eachNode].duration_type == 'Hrs' ? 'label-info' : 'btn'"
                          ng-click="serverData[eachNode].duration_type = toggleHrsMins(serverData[eachNode].duration_type, eachNode)">
                          {{serverData[eachNode].duration_type}}
                        </span>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">Enabled</span>
                        <select class="form-control" ng-model="serverData[eachNode].enabled">
                          <option value="true">Yes</option>
                          <option value="false">No</option>
                        </select>
                      </div>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12 col-sm-12 col-sm-offset-3">
          <button type="submit" class="btn btn-success col-xs-12 col-sm-2 margin-bottom-25px">
              Save
          </button>
      </div>
    </div>
  </form>
</div>