<div class="container">
	<div class="col-xs-12">
    	<h2 class="text-center margin-bottom-25px">Dashboard</h2>
  	</div>
</div>
<div class="container" ng-controller="dashboardController">
  	<div class="row">
	    <div class="col-md-6">
	    	<div class="panel panel-primary">
	    		<div class="panel-heading">RECENT FAILED SMS</div>
	    		<div class="panel-body" ng-if="dashboard.failedSms.length == 0">
	    			{{dashboardErrorMsg}}
	    		</div>
	    		<div class="panel-body" ng-if="dashboard.failedSms.length > 0">
				    <table class="table table-striped">
					    <thead>
					        <tr>
					            <th>User</th>
					            <th>Message</th>
					            <th>Attempted on</th>
					            <th>Action</th>
					        </tr>
					    </thead>
					    
				        <tr ng-repeat="failedSms in dashboard.failedSms | startFrom:currentPage*pageSize | limitTo:pageSize">
				            <td>{{failedSms.user_name}}</td>
				            <td style="word-break: break-all">{{failedSms.message}}</td>
				            <td>{{failedSms.crt_dt}}</td>
				            <td>
								<button type="button" class="btn btn-default"
									ng-click="deleteRecentFailedSms(failedSms)">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</td>
				        </tr>
				    </table>
				    <div class="col-xs-offset-4 col-sm-offset-7" ng-if="dashboard.failedSms.length > 5">
					    <button
		                    type="button"
					    	class="btn btn-info"
					    	ng-disabled="currentPage == 0"
							ng-click="decrPage()">
					        <<
					    </button>
					    Page {{currentPage+1}} of {{numberOfPages()}}
					    <button
		                    type="button"
					    	class="btn btn-info"
					    	ng-disabled="currentPage >= dashboard.failedSms.length/pageSize - 1"
							ng-click="incrPage()">
					        >>
					    </button>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>