<div class="modal-content">

  <div class="modal-body">
  	<div class="form-group">
	  	<h3>
	        Edit Scheduler Job
	    </h3>
	</div>
	<hr>
  	<form class="form-horizontal schedulerform" ng-submit="updateScheduler()">
		<div class="form-group form-inline">
	        <label class="col-sm-3 control-label">Start Date</label>
	        <div class="col-md-8 col-sm-9">
	            <div class="margin-bottom-25 input-group">
	                <span class="input-group-addon">DD</span>
	                <select name="day" class="form-control" ng-model="editFormData.start_date.day">
	                    <option value="{{day}}" ng-repeat="day in range(1,31)">{{day}}</option>
	                </select>
	            </div>

	            <div class="margin-bottom-25 input-group">
	                <span class="input-group-addon">MM</span>
	                <select name="month" class="form-control" ng-model="editFormData.start_date.month">
	                    <option value="{{month}}" ng-repeat="month in range(1,12)">{{month}}</option>
	                </select>
	            </div>
	            
	            <div class="margin-bottom-25 input-group">
	                <span class="input-group-addon">YY</span>
	                <select name="month" class="form-control" ng-model="editFormData.start_date.year">
	                    <option value="{{year}}" ng-repeat="year in range(2018,2030)">{{year}}</option>
	                </select>
	            </div>

	            <div class="margin-bottom-25 input-group">
	                <span class="input-group-addon">Hr</span>
	                <select name="hour" class="form-control" ng-model="editFormData.start_date.hour">
	                    <option value="{{hour}}" ng-repeat="hour in range(0,23)">{{hour}}</option>
	                </select>
	            </div>
	            
	            <div class="margin-bottom-25 input-group">
	                <span class="input-group-addon">MM</span>
	                <select name="minute" class="form-control" ng-model="editFormData.start_date.mins">
	                    <option value="{{mins}}" ng-repeat="mins in range(0,59)">{{mins}}</option>
	                </select>
	            </div>
	        </div>
	    </div>

	    <div class="form-inline" ng-if="editFormData.type == 'Daily' || editFormData.type == 'Weekly'">
	        <label class="col-sm-3 control-label">
	        	Frequency <span class="text-danger">*</span>
	        </label>
	        <div class="form-group" ng-if="editFormData.type == 'Daily'">
	        	<div class="btn-group">
	        		<label class="col-sm-3 control-label"></label>
			        <div class="col-md-7 col-sm-9">
		                <label class="btn btn-default btn-checkbox frequency" 
		                		ng-repeat="recur in editFormData.recurs"
		                		ng-class="{'has-error': editFrequencyMsg}">
		                    <input ng-model="recur.selected"
		                           type="checkbox">
		                    {{recur.value}}
		                </label>
		                <span class="help-block error"
                            ng-show="editeditFrequencyMsg">
                            Please select atleast one day
                        </span>
		            </div>
		        </div>
	        </div>
	        <div class="form-group" ng-if="editFormData.type == 'Weekly'">
	        	<div class="btn-group">
			        <div class="col-md-12 col-sm-offset-0">
		                <label class="btn btn-default btn-checkbox frequency" 
		                		ng-repeat="recur in editFormData.recurs"
		                		ng-class="{'has-error': editFrequencyMsg}">
		                    <input ng-model="recur.selected"
		                           type="checkbox">
		                    {{recur.value}}
		                </label>
		                <span class="help-block error"
                            ng-show="editFrequencyMsg">
                            Please select atleast one week
                        </span>
		            </div>
		        </div>
	        </div>
	        <div class="form-group" ng-if="editFormData.type == 'Weekly'">
	        	<div class="btn-group">
		        	<div class="col-md-12 col-sm-offset-4">
			            <label ng-repeat="weekday in editFormData.weekDays" 
			            		class="btn btn-default btn-checkbox frequency"
			            		ng-class="{'has-error': editWeekDayMsg}">
			                <input ng-model="weekday.selected"
			                       type="checkbox">
			                {{weekday.value}}
			            </label>
			            <span class="help-block error"
                            ng-show="editWeekDayMsg">
                            Please select atleast one weekday
                        </span>
			        </div>
			    </div>
	        </div>
	    </div>
	    
	    <div class="form-group">
			<label class="col-sm-3 control-label"
	            ng-if="editFormData.type == 'Daily' || editFormData.type == 'Weekly' || editFormData.type == 'OneTime'">
	            Configuration <span class="text-danger">*</span>
	        </label>
		    <div class="col-md-7 col-sm-9" 
	            ng-if="editFormData.type == 'Daily' || editFormData.type == 'Weekly' || editFormData.type == 'OneTime'">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">
	                        Valve Config
	                    </h3>
	                    <a class="cursor pull-right" 
	                        ng-init="isCollapsed=false" 
	                        ng-click="isCollapsed=!isCollapsed">
	                        <span class="glyphicon glyphicon-plus"></span>
	                    </a>
	                </div>
	                <div ng-show="isCollapsed" class="collapse in panel-body">
	                    <label ng-repeat="valve in editFormData.ValveDetails" 
	                        class="btn btn-default btn-checkbox frequency"
	                        ng-class="{'has-error': editValveMsg}">
	                        <input ng-model="valve.selected"
	                               type="checkbox">
	                        {{valve.name}}
	                    </label>
	                </div>
	            </div>
	            <span class="help-block error"
	                ng-show="editValveMsg">
	                Please select atleast one Valve config
	            </span>
	        </div>
	    </div>

		<div class="modal-footer">
			<div class="form-group">
				<div class="col-md-12 col-sm-offset-0">
				    <button type="submit" class="btn btn-success">Update</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</div>
	</form>
</div>