<div class="container" ng-controller="forgotPasswordController">
    <div id="passwordreset" style="margin-top:50px" class="mainbox col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Create New Password</div>
            </div>                     
            <div class="panel-body">
                <form name="forgorpasswordform" class="form-horizontal" role="form" ng-submit="updatePassword(forgorpasswordform.$valid)">
                    <div ng-if="isValidationButtonDisabled">
                        <div class="form-group">
                            <label for="username" class=" control-label col-sm-3">User Name</label>
                            <div class="col-sm-9">
                                <input  type="text" 
                                        class="form-control" 
                                        name="username" 
                                        ng-model="forgotPasswordData.user_name" 
                                        placeholder="Please input your username"
                                        ng-change="isForgotUsernameMatched=false"
                                        ng-class="{ 'has-error': (forgorpasswordform.username.$touched && forgorpasswordform.username.$error.required) || isForgotUsernameMatched}" 
                                        required>
                                <div ng-show="forgorpasswordform.$submitted || forgorpasswordform.username.$touched">
                                   <span class="text-danger" 
                                         ng-show="forgorpasswordform.username.$error.required">
                                        Please enter the User name
                                    </span>
                                    <span class="text-danger" 
                                         ng-show="isForgotUsernameMatched">
                                        User name doesn't exists
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone_no" class=" control-label col-sm-3">Phone number</label>
                            <div class="col-sm-9">
                                <input  type="text" 
                                        class="form-control" 
                                        name="phone_no" 
                                        ng-model="forgotPasswordData.phone_no" 
                                        placeholder="Please input your phone no"
                                        ng-pattern="/^[0-9]{10}$/" 
                                        ng-change="isForgotPhoneMatched=false"
                                        ng-class="{ 'has-error': (forgorpasswordform.phone_no.$touched && (forgorpasswordform.phone_no.$error.required || forgorpasswordform.phone_no.$error.pattern)) || isForgotPhoneMatched}" required>

                                <div ng-show="forgorpasswordform.$submitted || forgorpasswordform.phone_no.$touched">
                                    <span class="text-danger" 
                                          ng-show="forgorpasswordform.phone_no.$error.required">
                                        Please enter the phone number
                                    </span>
                                    <span class="text-danger" 
                                          ng-show="forgorpasswordform.phone_no.$error.pattern">
                                            Please enter the valid phone number
                                    </span>
                                    <span class="text-danger" 
                                          ng-show="isForgotPhoneMatched">
                                            Please enter registered phone number
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class=" control-label col-sm-3">New password</label>
                            <div class="col-sm-9">
                                <input  type="password" 
                                        class="form-control" 
                                        name="password" 
                                        ng-model="forgotPasswordData.new_hash" 
                                        placeholder="create your new password"
                                        ng-class="{ 'has-error': (forgorpasswordform.password.$touched && forgorpasswordform.password.$error.required)}" 
                                        ng-change="isForgotPasswdMatched=false"
                                        required>
                                <div ng-show="forgorpasswordform.$submitted || forgorpasswordform.password.$touched">
                                   <span class="text-danger" 
                                         ng-show="forgorpasswordform.password.$error.required">
                                        Please enter the password
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class=" control-label col-sm-3">Confirm password</label>
                            <div class="col-sm-9">
                                <input  type="password" 
                                        class="form-control" 
                                        name="password_confirmation" 
                                        ng-model="forgotPasswordData.confirmHash" 
                                        placeholder="confirm your new password"
                                        ng-class="{ 'has-error': (forgorpasswordform.password_confirmation.$touched && forgorpasswordform.password_confirmation.$error.required)}"
                                        ng-change="isForgotPasswdMatched=false"
                                        required>
                                <div ng-show="forgorpasswordform.$submitted || forgorpasswordform.password_confirmation.$touched">
                                   <span class="text-danger" 
                                         ng-show="forgorpasswordform.password_confirmation.$error.required">
                                        Please enter the confirm password
                                    </span>
                                    <span class="text-danger" 
                                      ng-show="isForgotPasswdMatched">
                                        Password and confirm password should match
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="isOtpEnabled">
                        <label for="otp" class=" control-label col-sm-3">Enter Otp</label>
                        <div class="col-sm-9">
                            <input  type="text" 
                                    class="form-control" 
                                    name="otp_code" 
                                    ng-model="forgotPasswordData.otp_code" 
                                    placeholder="Enter the otp code"
                                    ng-class="{ 'has-error': (forgorpasswordform.otp_code.$touched && forgorpasswordform.otp_code.$error.required)}"
                                    ng-change="isForgotPasswdMatched=false"
                                    required>
                            <div ng-show="forgorpasswordform.$submitted || forgorpasswordform.otp_code.$touched">
                               <span class="text-danger" 
                                     ng-show="forgorpasswordform.otp_code.$error.required">
                                    Please enter the otp code
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Button -->                                 
                        <div class="  col-sm-offset-3 col-sm-9">
                            <button type="submit" 
                                    class="btn btn-success" 
                                    ng-if="isOtpEnabled">
                                Submit OTP
                            </button>
                            <button type="button" 
                                    class="btn btn-success" 
                                    ng-click="forgotPasswordValidation(forgorpasswordform.$valid)"
                                    ng-if="isValidationButtonDisabled">
                                Submit
                            </button>
                            <button id="btn-cancel" 
                                    type="button" 
                                    class="btn btn-default"
                                    ng-if="isValidationButtonDisabled" 
                                    ng-click="gotoLogin()">
                                Cancel
                            </button>
                        </div>
                    </div>                             
                </form>
            </div>
        </div>
    </div>             
</div>