<div class="content" ng-controller="schedulerController as schedulerCtrl">
    <h2>Scheduler Configuration</h2>

    <ul id="tabs" class="nav nav-tabs">
        <li ng-class="{ active: isSet(1) }">
            <a ng-click="setTab(1)">
                New Scheduler
            </a>
        </li>
        <li ng-class="{ active: isSet(2) }">
            <a ng-click="setTab(2)">
                Search Scheduler
            </a>
        </li>
    </ul>
    
    <div id="my-tab-content" class="tab-content">
        
        <div id="newScheduler" class="tab-pane fade in active">
            <h3>Schedule New Job</h3>
            <div class="alert alert-success alert-dismissible" ng-show="showSuccessMsg">
              <a class="close" ng-click="showSuccessMsg = !showSuccessMsg">&times;</a>
              New job scheduled successfully
            </div>
            <form class="form-horizontal schedulerform" ng-submit="triggerScheduler()">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Scheduler Type</label>
                    <div class="col-sm-4">
                        <select class="form-control" 
                            ng-model="schedulerData.type" 
                            ng-options="type for type in types" 
                            ng-change="updateRecurs()" required>
                        </select>
                    </div>
                </div>
                <div class="form-inline" 
                    ng-if="schedulerData.type == 'Daily' || schedulerData.type == 'Weekly' || schedulerData.type == 'OneTime'">
                    <label class="col-sm-3 control-label">Start Date</label>
                    <div class="col-sm-9 form-group">
                        <div class="margin-bottom-25px input-group">
                            <span class="input-group-addon">DD</span>
                            <select name="day" class="form-control" ng-model="schedulerData.start_date.day">
                                <option value=''>DD</option>
                                <option value="{{day}}" ng-repeat="day in range(1,31)">{{day}}</option>
                            </select>
                        </div>

                        <div class="margin-bottom-25px input-group">
                            <span class="input-group-addon">MM</span>
                            <select name="month" class="form-control" ng-model="schedulerData.start_date.month">
                                <option value=''>MM</option>
                                <option value="{{month}}" ng-repeat="month in range(1,12)">{{month}}</option>
                            </select>
                        </div>
                        
                        <div class="margin-bottom-25px input-group">
                            <span class="input-group-addon">YY</span>
                            <select name="month" class="form-control" ng-model="schedulerData.start_date.year">
                                <option value=''>YYYY</option>
                                <option value="{{year}}" ng-repeat="year in range(2018,2030)">{{year}}</option>
                            </select>
                        </div>

                        <div class="margin-bottom-25px input-group">
                            <span class="input-group-addon">Hr</span>
                            <select name="hour" class="form-control" ng-model="schedulerData.start_date.hour">
                                <option value=''>HH</option>
                                <option value="{{hour}}" ng-repeat="hour in range(0,23)">{{hour}}</option>
                            </select>
                        </div>
                        
                        <div class="margin-bottom-25px input-group">
                            <span class="input-group-addon">MM</span>
                            <select name="minute" class="form-control" ng-model="schedulerData.start_date.mins">
                                <option value=''>MM</option>
                                <option value="{{mins}}" ng-repeat="mins in range(0,59)">{{mins}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="schedulerData.type == 'Daily' || schedulerData.type == 'Weekly'">
                    <label class="col-sm-3 control-label">Frequency</label>
                    <div class="col-sm-2">
                        <label class="control-label" ng-if="schedulerData.type == 'Daily'">
                            <input ng-model="isAllDays"
                                   ng-change="selectAllDays()"
                                   type="checkbox">
                            <span>All Days OR </span>
                        </label>
                        <label class="control-label" ng-if="schedulerData.type == 'Weekly'">
                            <input ng-model="isAllWeeks"
                                   ng-change="selectAllDays()"
                                   type="checkbox">
                            <span>All Weeks OR</span>
                        </label>
                    </div>
                </div>
                
                <div class="form-group form-inline" ng-if="schedulerData.type == 'Daily' || schedulerData.type == 'Weekly'">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-7">
                        <label class="form-control frequency" ng-repeat="recur in schedulerData.recurs">
                            <input ng-model="recur.selected"
                                   type="checkbox">
                            {{recur.id}}
                        </label>
                    </div>
                </div>

                <div class="form-group" ng-if="schedulerData.type == 'Daily' || schedulerData.type == 'Weekly'">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-2">
                        <label class="control-label">
                            <input ng-model="isAllWeekDays"
                                   ng-if="schedulerData.type == 'Weekly'"
                                   ng-change="selectAllWeekDays()"
                                   type="checkbox">
                            <span ng-if="schedulerData.type == 'Weekly'">All Weekdays OR</span>
                        </label>
                    </div>
                </div>

                <div class="form-group form-inline" ng-if="schedulerData.type == 'Weekly'">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-5">
                        <label ng-repeat="weekday in schedulerData.weekDays" class="form-control">
                            <input ng-model="weekday.selected"
                                   type="checkbox">
                            {{weekday.value}}
                        </label>
                    </div>
                </div>
                
                <div class="form-group" 
                    ng-if="schedulerData.type == 'Daily' || schedulerData.type == 'Weekly' || schedulerData.type == 'OneTime'">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <a ng-init="isCollapsed=false" 
                            ng-click="isCollapsed=!isCollapsed"
                            class="glyphicon glyphicon-plus panel-heading cursor">
                            Valve Config
                        </a>
                        <div ng-show="isCollapsed" class="collapse in">
                            <label ng-repeat="valve in schedulerData.ValveDetails" 
                                class="form-control">
                            <input ng-model="valve.selected"
                                   type="checkbox">
                            {{valve.name}}
                        </label>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                    ng-if="schedulerData.type == 'Daily' || schedulerData.type == 'Weekly' || schedulerData.type == 'OneTime'">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-success">Schedule</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="searchScheduler" class="tab-pane fade in">
            <div ng-include src="'search-scheduled-event.html'"></div>
        </div>
    </div>
</div>