<div class="content" ng-controller="schedulerController">
    <h2>Scheduler Configuration</h2>

    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-toggle="tab" href="#home">New Scheduler</a></li>
        <li><a data-toggle="tab" href="#menu1">Search Scheduler</a></li>
    </ul>
    
    <div id="my-tab-content" class="tab-content">
        <form class="form-horizontal schedulerform" ng-submit="triggerScheduler()">
            <div id="home" class="tab-pane fade in active">
                <div class="form-group row">
                    <label class="col-sm-3 control-label">Scheduler Type</label>
                    <div class="col-sm-4">
                        <select name="scheduler_type" class="form-control" ng-model="schedulerData.type">
                            <option value=''>Select One</option>
                            <option value='OneTime'>One Time</option>
                            <option value='Daily'>Daily</option>
                            <option value='Weekly'>Weekly</option>
                        </select>
                    </div>
                </div>
                <div class="form-inline row">
                    <div ng-if="schedulerData.type == 'OneTime'">
                        <label class="col-sm-3 control-label">Start Date</label>
                        <div class="col-sm-8 form-group">
                            <select name="day" class="form-control" ng-model="schedulerData.date.day">
                                <option value=''>DD</option>
                                <option value="{{day}}" ng-repeat="day in range(1,31)">{{day}}</option>
                            </select>

                            <select name="month" class="form-control" ng-model="schedulerData.date.month">
                                <option value=''>MM</option>
                                <option value="{{month}}" ng-repeat="month in range(1,31)">{{month}}</option>
                            </select>

                            <select name="month" class="form-control" ng-model="schedulerData.date.year">
                                <option value=''>YYYY</option>
                                <option value="{{year}}" ng-repeat="year in range(2000,2030)">{{year}}</option>
                            </select>

                            <select name="hour" class="form-control" ng-model="schedulerData.date.hour">
                                <option value=''>HH</option>
                                <option value="{{hour}}" ng-repeat="hour in range(0,23)">{{hour}}</option>
                            </select>

                            <select name="minute" class="form-control" ng-model="schedulerData.date.mins">
                                <option value=''>MM</option>
                                <option value="{{mins}}" ng-repeat="mins in range(0,59)">{{mins}}</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="schedulerData.type == 'Daily'">
                        <label class="col-xs-3 control-label">Daily</label>
                    </div>
                    <div ng-if="schedulerData.type == 'Weekly'">
                        <label class="col-xs-3 control-label">Weekly</label>
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
            </div>
        </form>
    </div>
</div>