<div id="signupbox" class="container" ng-controller="signUpController">
    <div class="panel panel-info mainbox col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-2">
        <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
        </div>  
        <div class="panel-body" >
            <form name="signupform" class="form-horizontal" role="form" ng-submit="CreateUserValidation(signupform.$valid)" novalidate>

               <div class="form-group">
                   <label for="phone" class="col-md-3 control-label">User ID <span class="text-danger">*</span></label>
                   <div class="col-md-9">
                       <input type="text" class="form-control" name="user_id" ng-model="userDetails.user_name" placeholder="User ID" ng-class="{ 'has-error': (signupform.user_id.$touched && (signupform.user_id.$error.required || signupform.user_id.$error.pattern)) || user_exists}" 
                        ng-pattern="/^[a-zA-Z]+[0-9]*[a-zA_Z]*$/"
                       required ng-change="user_exists=false">

                       <div ng-show="signupform.$submitted || signupform.user_id.$touched">
                           <span class="text-danger" 
                                 ng-show="signupform.user_id.$error.required">
                                Please enter the User id
                            </span>
                            <span class="text-danger" 
                                  ng-show="user_exists">
                                User already exists
                            </span>
                            <span class="text-danger" 
                                  ng-show="signupform.user_id.$error.pattern">
                                    Please enter alphanumeric
                            </span>
                        </div>
                   </div>
                </div>

                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">First Name <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="firstname" ng-model="userDetails.first_name" placeholder="First Name"       ng-class="{ 'has-error': (signupform.firstname.$touched && (signupform.firstname.$error.required ||signupform.firstname.$error.pattern))}"
                               ng-pattern="/^[a-zA-Z]{3,}$/"
                               required>

                        <div ng-show="signupform.$submitted || signupform.firstname.$touched">
                            <span class="text-danger" 
                                  ng-show="signupform.firstname.$error.required">
                                Please enter the First name
                            </span>
                            <span class="text-danger" 
                                  ng-show="(signupform.firstname.$error.pattern)">
                                    Please enter minimum 3 alphabets only
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="lastname" ng-model="userDetails.last_name" placeholder="Last Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="passwd" ng-model="userDetails.hash1" placeholder="Password"
                                ng-class="{ 'has-error': (signupform.passwd.$touched && signupform.passwd.$error.required)}" required>

                        <div ng-show="signupform.$submitted || signupform.passwd.$touched">
                            <span class="text-danger" 
                                  ng-show="signupform.passwd.$error.required">
                                Please enter the password
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone_no1" class="col-md-3 control-label">Primary Phone <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="phone_no1" ng-model="userDetails.phone_no1" placeholder="Phone 1"
                            ng-class="{ 'has-error': (signupform.phone_no1.$touched && signupform.phone_no1.$error.required)}" ng-pattern="/^[0-9]{10}$/" required ng-change="isPhoneNoMatched=false">  

                        <div ng-show="signupform.$submitted || signupform.phone_no1.$touched">
                            <span class="text-danger" 
                                  ng-show="signupform.phone_no1.$error.required">
                                Please enter the primary phone
                            </span>
                            <span class="text-danger" 
                                  ng-show="signupform.phone_no1.$error.pattern">
                                    Please enter the valid phone number
                            </span>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="phone_no2" class="col-md-3 control-label">Secondary Phone</label>
                    <div class="col-md-9">
                        <input type="text" 
                                class="form-control" 
                                name="phone_no2" 
                                ng-model="userDetails.phone_no2" 
                                placeholder="Phone 2"
                                ng-pattern="/^[0-9]{10}$/"
                                ng-class="{ 'has-error': signupform.phone_no2.$error.pattern}"
                                ng-change="isPhoneNoMatched=false">

                        <div ng-show="signupform.$submitted || signupform.phone_no2.$touched">
                            <span class="text-danger" 
                                  ng-show="(signupform.phone_no2.$error.pattern)">
                                    Please enter the valid phone number
                            </span>
                            <span class="text-danger" 
                                  ng-show="isPhoneNoMatched">
                                    Please enter different phone number
                            </span>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->                                        
                    <div class="col-md-offset-3 col-md-9">
                        <button name="signup" 
                                type="submit" 
                                class="btn btn-info col-xs-12">
                            Sign Up
                        </button> 
                    </div>
                </div>

            </form>
        </div>
    </div>