/**

  <link
   href="https://fonts.googleapis.com/css?family=Dancing+Script|Exo+2|Oleo+Script|Rambla|Sacramento"
   rel="stylesheet">

  <!--
    font-family: 'Dancing Script', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Oleo Script', cursive;
    font-family: 'Rambla', sans-serif;
  -->
*/

.cn-super-border,
.cn-left-side-border,
.cn-right-side-border,
.cn-top-side-border,
.cn-bottom-side-border,
.cn-all-side-border{
    border-color: #000000;
}

.cn-left-side-border,
.cn-all-side-border{
    border-left-style: solid;
}

.cn-right-side-border,
.all-side-border{
    border-right-style: solid;
}

.cn-top-side-border,
.cn-all-side-border{
    border-top-style: solid;
}

.cn-bottom-side-border,
.cn-all-side-border{
    border-bottom-style: solid;
}

.cn-super-quote,
.cn-block-quote,
.cn-quote {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: right;
    font-size: 13px;
}

.cn-block-quote{
    /** Enable border at the left side. */
    border-left-style: solid;
}

.cn-super-font, /** Super class */
.cn-logo-font /** Inherited for logo */ {
    font-size: 12px;
    /** please refer font section from the document. */
    font-family: 'Exo 2', sans-serif;
}

.cn-super-content-font /** Inherited for contents */{
    font-size: 15px;
}

.cn-logo-font /** Overridden for logo */ {
    font-size: 45px;
}

span.line-break{
    display: block;
}

.top-offset-header {
    margin-top: 20px;
}

.top-offset-10 {
    margin-top: 50px;
}

.cn-terminal{
    align-content: space-around;
    height: 400px;
    padding: 0 10px;
    background-color: #FFF;
    overflow-y : auto;
    border-radius: 4px;
    border-top: 20px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background-image: url("arch_linux.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70 70;
}

.cn-line-space-before{
    margin-top: 20px;
}

.cn-notes-in-red{
   color: red;
   font-size: 10px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.rotate {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transform: rotate(-90.0deg);
  -o-transform: rotate(-90.0deg);
  -webkit-transform: rotate(-90.0deg);
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  transform: rotate(-90.0deg);
}

td:first-child {
  padding-right:20px
}

.cn-simple-table{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
